.table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  background: white;

  &__head {
    text-align: left;
    font-weight: 400;

    &__item {
      position: sticky;
      top: 0;
      font-weight: 400;
      color: #fff;
      line-height: 1.4;
      background-color: #703cc0;
      padding: 16px 16px;
    }
  }

  &__body {
    max-height: 585px;

    &__row:nth-child(2n +1){
      background-color: rgba(238, 240, 243, 0.99);
    }

    &__item {
      padding: 8px 16px;

      &_avatar {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        &:hover {
          color: #703cc0;
        }

        img {
          width: 35px;
          border-radius: 50%;
          margin-right: 16px;
        }
      }
    }
  }

  &__wrapper {
    overflow-y: auto;
    flex-grow: 1;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.3);
    border-radius: 5px;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
