.search-input {
  color: #4f4f4f;
  border: 1px #c4c4c4 solid;
  border-radius: 5px;
  padding: 4px 8px;
  width: 300px;
  box-shadow: none;

  &:active, &:focus {
    box-shadow: 0 0 0 1px #703cc0;
    border-color: transparent;
    outline: none;
    border-radius: 5px;
  }

  &::placeholder {
    color: #a7a7a7;
  }
}

.filters{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
