.header {
  height: 48px;
  width: 100%;
  background: #35006c;
  display: flex;
  align-items: center;
  padding: 12px 30px;
  z-index: 100;

  &__logo {
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
  }
}
