.cover {
  position: absolute;
  left: 0;
  width: 150%;
  top: 48px;
  height: 250px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 50px 20% 0;

  &__card {
    background-color: #fff;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    overflow: hidden;
    flex-grow: 1;
    padding: 32px;
    text-align: center;
    max-width: 350px;
  }

  &__avatar {
    width: 150px;
    border-radius: 50%;
    margin: 0 auto 16px auto;
  }

  &__text {
    line-height: 26px;

    &_light {
      color: #5e5e5e;
    }
  }
}

.form {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #dadce0;
  overflow: hidden;
  transition: .18s ease all;
  flex-grow: 2;
  padding: 20px 32px;
}

.left-btn {
  margin-right: 8px;
}
