.button {
  cursor: pointer;
  font-weight: 500;
  color: #3d3d3d;
  height: 32px;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  &_primary {
    border: 0;
    color: white;
    background-color: #703cc0;

    &:hover {
      background-color: #575797;
    }

    &:focus, &:active {
      background-color: #703cc0;
    }

    &:disabled {
      cursor: default;
      color: #616161;
      background-color: rgba(0, 0, 0, 0.24);
    }
  }

  &_secondary {
    border: 0;
    background-color: rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: rgba(75, 75, 75, 0.08);
    }

    &:focus, &:active {
      background-color: rgba(0, 0, 0, 0.08);
    }

    &:disabled {
      cursor: default;
      color: #616161;
      background-color: rgba(0, 0, 0, 0.24);
    }
  }
}
