.form-field {
  margin-bottom: 16px;
  padding: 0 2px;

  &__input {
    width: 100%;
    border: 1px solid #cecece;
    height: 32px;
    font-size: 13px;
    line-height: 16px;
    border-radius: 3px;
    padding: 8px 6px;

    &:active,
    &:focus {
      border: 1px solid #703cc0;
      outline: none;
    }

    &::placeholder {
      color: rgba(111, 111, 111, 0.48);
    }
  }

  &__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5e5e5e;
    margin-bottom: 4px;
  }

  &__error-msg {
    color: #f54b4b;
    font-size: 14px;
    line-height: 16px;
    margin-top: 4px;
  }

  &__value {
    font-size: 16px;
    line-height: 18px;
    color: #404040;
  }
}
