.header {
  flex: 0 0 auto;
  padding: 24px 0 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.019em;
    color: #404040;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.64);
    opacity: 0.92;
  }

  &__side-content {
    display: flex;
    align-items: center;
  }
}
