@import '~react-datepicker/src/stylesheets/variables.scss';
@import '~react-datepicker/src/stylesheets/mixins.scss';

.period {
  display: flex;
  align-items: center;

  &__separator {
    color: #8d8d8d;
    margin: 0 5px;
  }
}

:global {
  .react-datepicker__input-container {
    input {
      position: relative;
      border: 1px solid #c4c4c4;
      height: 32px;
      font-size: 13px;
      line-height: 16px;
      border-radius: 5px;
      padding: 8px 6px;
      width: 100px;
      text-align: center;

      &:active,
      &:focus {
        border: 1px solid #703cc0;
        outline: none;
      }

      &::placeholder {
        color: rgba(111, 111, 111, 0.48);
      }
    }
  }

  .react-datepicker {
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker-popper {
    z-index: 1;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(116, 116, 116, 0.3);
  }

  .react-datepicker__header {
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 8px;
    position: relative;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header {
    margin-top: 0;
    color: #383838;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 12px * 1.18;
  }

  .react-datepicker-time__header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .react-datepicker__navigation {
    background: none;
    line-height: 1.7rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 6px;
    padding: 0;
    border: 0.45rem solid transparent;
    z-index: 1;
    height: 10px;
    width: 10px;
    text-indent: -999em;
    overflow: hidden;

    &--previous {
      left: 10px;
      top: 12px;
      border-right-color: #6f6f6f;

      &--disabled,
      &--disabled:hover {
        border-right-color: lighten(#6f6f6f, 30%);
        cursor: default;
      }
    }

    &--next {
      right: 10px;
      top: 12px;
      border-left-color: #6f6f6f;

      &--with-time:not(&--with-today-button) {
        right: 80px;
      }

      &--disabled,
      &--disabled:hover {
        border-left-color: lighten(#6f6f6f, 30%);
        cursor: default;
      }
    }

    &--years {
      position: relative;
      top: 0;
      display: block;
      margin-left: auto;
      margin-right: auto;

      &-previous {
        top: 4px;

        &:hover {
        }
      }

      &-upcoming {
        top: -4px;
      }
    }
  }

  .react-datepicker__month-container {
    float: left;
  }

  .react-datepicker__month {
    margin: $datepicker__margin;
    text-align: center;
  }

  .react-datepicker__day-names,
  .react-datepicker__week {
    white-space: nowrap;
  }

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    display: inline-block;
    width: $datepicker__item-size;
    line-height: $datepicker__item-size;
    text-align: center;
    margin: $datepicker__day-margin;
  }

  .react-datepicker__day {
    cursor: pointer;

    &:hover {
      border-radius: 5px;
    }

    &--today {
      font-weight: bold;
    }

    &--selected,
    &--in-selecting-range,
    &--in-range {
      border-radius: 50%;
      background: #703cc0;
      color: white;
    }

    &--keyboard-selected {
      border-radius: 50%;
      background: #703cc0;
      color: white;

      &:hover {
        border-radius: 50%;
      }
    }

    &--disabled {
      cursor: default;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
