* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Poppins', sans-serif;

  input {
    font-family: 'Poppins', sans-serif;
  }

  body {
    background: rgba(227, 227, 227, 0.51);
    margin: 0;
  }
}

.container {
  padding: 0 30px 30px;
}
